@font-face {
    font-family: appe;
    src: url(informações/LEMONMILK-Medium.otf)format(opentype);
}
:root{
    --color01:#000000;
    --color02:#121214;
    --color03:#1C1C1C;
    --color04:#585761;
    --color05:#9D9CAD;
}
*{margin: 0px;font-family: Arial, Helvetica, sans-serif;color: white;}

body{background-color: var(--color04);}
header{background-color: var(--color01);height: 300px; box-shadow: 0px 0px 5px black;}
h1{font-family: appe;text-align: center;padding-top: 90px;}
h2{font-family: appe;background-color: var(--color04);}
p#pri{text-align: center;padding-bottom: 5px;}
.principal{text-decoration: none;color: var(--color05);padding: 10px;}
.principal:hover{background-color: var(--color05);color:var(--color02);transition-duration: 0.8s;border-radius: 5px;}
main{max-width: 900px;min-width: 320px;margin: auto;background-color: var(--color03);padding: 10px;}
p{margin: 15px 0px;}
img#princimg{margin: auto;display: block;max-width: 335px;min-width: none;}
img#rainbow{margin: auto;display: block;max-width: 310px;min-width: none;}
img#atual{margin: auto;display: block;max-width: 310px;min-width: none;}
div#todas{background-color: var(--color05);border-radius: 5px;}
ul{list-style-type: '\1F34E';columns: 2;}
li{margin-bottom: 10px;}
h2#e{border-radius: 5px 5px 0px 0px;}   
.em-textos{background-color: var(--color04);text-decoration: none;}
.em-textos:hover{color: #000000;}
.em-textos::after{content: '\1F517';}
footer{text-align: center;}
iframe{ width: 100%;}
.do-div{margin: 8px;}
